<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="stylesheets/{{style}}" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet" />
  <title>{{title}}</title>
</head>

<body>
  {{{body}}}
  <footer class="footer">
    Open source project not yet available on
    <b>
      <a href="https://github.com/fratorgano" target="_blank">GitHub</a>
    </b>
    <br />
    Made by
    <b>
      <a href="https://fratorgano.me" target="_blank">Francesco Torgano</a>
    </b>
    © 2021
  </footer>
</body>

</html>